<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head.ejs', { req: req, options: options, locale: locale, picker, desc: '' }); -%>
  </head>
  <body>
    <%- include('../parts/navbar.ejs', { req: req, options: options, locale: locale, picker }) -%>
    <div class="container-fluid">
      <%- include('./main.ejs', { req: req, options: options, locale: locale, picker }) -%>
    </div>
    <%- include('../parts/footer.ejs'); -%>
  </body>
  <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
</html>
