<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head.ejs', { req: req, options: options, locale: locale, picker }); -%>
  </head>
  <body>
    <style>
    .show {
      opacity: 1;
      transition: opacity 0.6s linear;
    }

    .hide {
      opacity: 0;
      transition: opacity 0.6s linear;
    }
    </style>
    <div uk-spinner="ratio: 3" class="uk-position-center" id="spinner"></div>
    <div style="display:none" id="show" class="hide content">
      <%- include('../parts/navbar.ejs', { req: req, options: options, locale: locale, picker }) -%>
      <%- include('./main.ejs', { req: req, options: options, locale: locale, picker }) -%>
      <%- include('../parts/footer.ejs'); -%>
    </div>
  </body>
</html>