<section id="main">
    <div class="container-xl text-center">
        <h1 class="text-white display-1 mt-5"><%= picker.get(locale, 'TITLE') %></h1>
        <h2 class="text-white display-4 mb-5"><%= picker.get(locale, 'DESCRIPTION') %></h2>
        <div class="mb-5">
            <button type="button" class="btn-lg btn-light btn mr-1" onclick="window.location = '/invite'">당신의 서버에 추가하기</button>
            <button type="button" class="btn-lg btn btn-secondary">대시보드</button>
        </div>
    </div>
</section>