<style>
    #page-footer {
        width:100%;
        position:fixed;
        bottom: 0px;
        background-color: #f5f5f5;
    }
</style>
<div id="page-footer" class="uk-flex-bottom">
    <div class="uk-container uk-padding-small">
        <p class="uk-text-center uk-text-small">Copyright(c) 2019 Sangoon_Is_Noob#1683 All rights reserved.</p>
    </div>
</div>