<style>
    .footer {
        max-width: 100%;
    }
</style>
<% let fix = false; %>
<% try { %>
<% fix = fixed %>
<% } catch (e) { %>
<% fix = false %>
<% } %>
<% if (fix) { %>
    <footer class="footer bg-darkest fixed-bottom">
<% } else { %>
    <footer class="footer bg-darkest">
<% } %>
    <div class="container text-center text-white">
        <span uk-icon="code"></span> with <span uk-icon="heart"></span> by Sangoon_Is_Noob#1683<br>
        Copyright(c) 2019 Sangoon_Is_Noob#1683 All rights reserved.
    </div>

</footer>